.main {
    margin: 12vh auto;
    width: 480px;
}
  
.title {
    text-align: center;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
  
.link {
    text-decoration: none;
    color: #4C4CFF;
    transition: opacity 0.1s ease-in-out;
}
  
.link:hover {
    opacity: 0.8;
}
  
.note {
    text-align: center;
}